* {
    margin: 0px;
    padding: 0px;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --a:0;
}

body {
    background-color: black;
    color: white;
}

.close{
    display: none;
}
.left {
    width: 30vw;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.right {
    width: 70vw;
    margin: 6px;
    margin-right: 20px;
    background-color: black;
    position: relative;

}

.home ul li {
    list-style: none;
    width: 14px;
    display: flex;
    gap: 15px;
    padding-top: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}

.logo {
    display: flex;
    gap: 5px;
    align-items: center;
}

.icon {
    width: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    padding: 23px 14px;
}

.icon img {

    width: 17px;
}

.library {
    min-height: 80vh;
    position: relative;
}

.footer {
    display: flex;
    font-size: 8px;
    color: grey;
    gap: 11px;
    position: absolute;
    bottom: 2px;
    width: inherit;
    overflow: hidden;
}

.footer a {
    color: grey;

}

.img2 {
    width: 25px;
    height: 24px;
}

.img1 {
    margin-top: 3px;
    height: 18px;
    width: 24px;
}

.nav {
    display: flex;
}

.header {
    display: flex;
    padding-top: 5px;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(54, 54, 54);
    max-height: 7vh;
}

.header>* {
    padding: 12px;
}

.spotify {
    padding: 16px;
}

.card>* {
    padding-top: 10px;
}

.cardcontainer {
    margin: 20px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    overflow: auto;
    max-height: 80vh;
}

.card {
    width: 250px;
    padding: 10px;
    border-radius: 5px;
    background-color: #252525;
    position: relative;
    cursor: pointer;
    transition: all .9s;

}
.card:hover{
    background-color: rgb(120, 118, 118);
    --a:1;
}

.card img {
    width:100%;
    object-fit: contain;

}

.play{
    padding: 15px;
    border-radius: 50%;
    background-color: rgb(27, 125, 27);
    height: 24px;
    width: 20px;

}

.play {
    
    position: absolute;
    top: 60%;
    right: 43px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity:var(--a);
    transition: all 1s ease-in-out;

}

.buttons>* {
    margin: 10px;
}

.signbtn {
    background-color: rgb(54, 54, 54);
    color: grey;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.signbtn:hover {
    font-size: 16px;
    color: white;
    outline: none;
}

.loginbtn {
    background-color: white;
    border-radius: 20px;
    font-weight: bold;
    padding: 10px;
    border: none;
    width: 79px;
}


.loginbtn:hover {
    color: rgb(129, 127, 123);
    padding: 12px;
}
.playbar{
    position:fixed;
    top: 90%;
    right: 2%;
    background-color: rgb(75, 72, 65);
    padding: 10px;
    width: 60vw;
    border-radius: 10px;
    min-height: 39px;
    
}

.songbtn{
    display: flex;
    justify-content: center;
}
.songlist{
    height: 544px;
    overflow: auto;
    margin-bottom: 44px;
     
}
.hamburger{
    display: none;
}
.hamburgercontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}
.songlist ul{
    padding: 0px 12px;
}
.songlist ul li{
    list-style-type: decimal;
   
    display: flex;
    justify-content: space-between;
    gap: 12px;
    cursor: pointer;
    padding: 12px 0px;
    border: 1px solid white;
    margin: 12px 0px;
    padding: 13px;
    border-radius: 5px;
}
.songlist .info{
    font-size: 13px;
    width: 344px;
}
.songlist ul li img{
    width: 20px;
}
.playnow{
    display: flex;
    justify-content: center;
    align-items: center;
}
.playnow span{
    font-size: 16px;
    width: 64px;
    padding: 2px;
}
.seekbar{
    height: 4px;
    width: 98%;
    background-color: rgb(147, 205, 181);
    position: absolute;
    bottom: 0;
    border-radius: 10px;
    margin: 6px;
    cursor: pointer;
}
.circle{
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: rgb(202, 198, 198);
    position: relative;
    bottom: 4px;
    left: 0%;
    transition: left 0.5s;
}
.songbtn{
    display: flex;
    gap: 20px;
}
.songbtn img{
    cursor: pointer;
    width: 35px;
}

.timevol{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.songinfo ,.songtime{
    color: white;
    padding:0 12px ;
}

.volume{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}
.range input{
    filter: invert(1);
}
.abovebar{
    display: flex;
    justify-content: space-between;
}

.info div{
    word-break: break-all;
}


@media (max-width:1400px){
    .left{
        background-color: antiquewhite;
        position: absolute;
        left: -120%;
        transition: all .3s;
        z-index: 1;
        width: 333px;
        padding: 0px;
        
    }
    .right{
        width: 100vw;
        margin: 0px;
     }
     .playbar{
        width: calc(100vw-110px);
     }
     .seekbar{
        width: calc(100vw-110px);
     }
    .playbar{
       width: 88vw; 
       font-size: 20px;
    }
    .seekbar{
        width: 90%;
    }
    .card{
       
        width: 50vw;
    }
    .cardcontainer{
        display: flex;
        justify-content: center;
    }
    .hamburger{
        display: block;
    }
    .close{
        position: absolute;
        right: 31px;
        top: 25px;
        width: 29px;
        display: block;
    }
    .abovebar{
        flex-direction: column;
        gap: 32px;
        align-items: center;
    }

    .timevol{
        flex-direction:column;
        gap: 13px;
    }
    
}